/* Meyers code for customizing and standardizing apge wit most browsers */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of Meyers code */
/* typografy/customizing fonts */
body {
  background: #000099;
  color: #ffa31a;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, {
  color: #ffa31a;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
  color: #000099;
}
h6 {
  font-size: 24px;
  padding: 10px 0;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
}
strong {
  font-weight: 400;
}
i {
  font-style: italic;
}
/* Links */
a:hover {
  color: #ffa31a;
}
a {
  color: #ffa31a;
}
/* Grid */
*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.container {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}
/* containing floats by adding Clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/* Typing Stile */
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
/* buttons */
.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}
/* padding for button section */
.hero {
  padding: 2px;
}
/* primary header float */
.logo {
  padding: 10px 0 0 0;
  font-size: 48px;
  float: left;
}/* footer */
.primary-footer small {
  float: center;
}
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
}
.primary-footer {
  color:#ffa31a;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
a {
  color: #ffa31a;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-nav {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding-top: 40px;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
/* navigation */
.nav {
  text-align: right;
  text-transform: uppercase;
  display: inline-block;
  float: right;
}
.nav a:not(:last-of-type) {
  margin-right: 10px;
}
.primary-header a,
.primary-footer a {
  color: #ffa31a;
}
.primary-header a:hover,
.primary-footer a:hover {
  color:#ffa31a;
}
.btn {
  border-radius: 5px;
  color: #ffa31a;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 20px;
}
.btn-alt {
  border: 1px solid #ffa31a;
  padding: 10px 20px;
}
.btn-alt:hover {
  background:#ffa31a;
  color: #648880;
}
/* Rows */
.row {
  text-decoration: #000099;
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  width: 250px;
  height: 200px;
}
.headimage {
  width: 100%;
  height: 200px;
  display: block;
  padding: 4px;
}
.row,
.row-alt {
  min-width: 960px;
}
.row,
.row-alt{
  min-width: 960px;
}
/* about workers */
.teammember-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center;
}
.teammember {
  margin-bottom: 44px;
}
.teammember-info img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}
.teammember-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}
/* Contact and map */
.office-belgrade {
  margin-bottom: 66px;
}
.venue-map {
  height: 264px;
}
.why-reach {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}
.btn-default {
  border: 1px solid #ffa31a;
  background:#fff;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #ffa31a;
  color: #648880;
}
/* services page */ 
.remodeling-info {
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center;
}
.remodeling-info img {
  width: 100%;
  height: 200px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}
.logo img {
  width: 200px;
}
.headlogo img {
  width: 100%;
  height: 200px;
}
